<ion-view title="Sign Up">
  <div class="list list-inset">
    <label class="item item-input">
      <input type="text" required ng-model="user.firstName" placeholder="First Name">
    </label>
    <label class="item item-input">
      <input type="text" required ng-model="user.lastName" placeholder="Last Name">
    </label>
    <label class="item item-input">
      <input type="email" required ng-model="user.userName" placeholder="Email">
    </label>
    <label class="item item-input">
      <input type="text" required ng-model="user.password" placeholder="Password">
    </label>
    <label class="item item-input">
      <input required type="password" ng-model="user.ConfirmPassword" placeholder="Confirm Password">
    </label>

    <button data-ng-disabled="!user.firstName||!user.lastName||!user.userName||!user.ConfirmPassword||!user.password"
            ng-click="addUser()" class="button button-positive button-block">Sign Up
    </button>
  </div>
</ion-view>

